# Environment Variables Example
GEMINI_API_KEY= 
FIREBASE_PROJECT_ID=
GCP_PROJECT_ID=
FRONTEND_URL=https://crowd-frontend-987426744408.us-central1.run.app
BACKEND_URL=https://crowd-backend-987426744408.us-central1.run.app
