# Environment Variables Example
GEMINI_API_KEY= AQ.Ab8RN6LqG318aq-uIvFa4hd_nSYZnZbRjSeuCwqcd7iIoHPHKA
FIREBASE_PROJECT_ID=
GCP_PROJECT_ID=
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:8000
